<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    {{screamIt welcomeMessage}}
    <p>
        <label>Street:</label> {{street}} {{number}}<br>
        <label>Zip Code:</label> {{zip}}<br>
        <label>City:</label> {{city}}<br>
    </p>
    {{> footer}}
</body>
</html>